@font-face {
  font-family: "SCDream";
  src: local("SCDream1"), url("../fonts/SCDream1.otf?#iefix") format("opentype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: local("SCDream2"), url("../fonts/SCDream2.otf?#iefix") format("opentype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: local("SCDream3"), url("../fonts/SCDream3.otf?#iefix") format("opentype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: local("SCDream4"), url("../fonts/SCDream4.otf?#iefix") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: local("SCDream5"), url("../fonts/SCDream5.otf?#iefix") format("opentype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: local("SCDream6"), url("../fonts/SCDream6.otf?#iefix") format("opentype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: local("SCDream7"), url("../fonts/SCDream7.otf?#iefix") format("opentype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: local("SCDream8"), url("../fonts/SCDream8.otf?#iefix") format("opentype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

/*NotoSans*/
@font-face {
  font-family: 'Noto Sans KR';/*Light*/
  font-style: normal;
  font-weight: 300;
  src: local('NotoSans-Light'), local('NotoSans-Light'), url(../fonts/NotoSans-Light.eot);
  src: url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Light.woff2) format('woff2'),
  url(../fonts/NotoSans-Light.woff) format('woff');
  }
  @font-face {
  font-family: 'Noto Sans KR';/*DemiLight*/
  font-style: normal;
  font-weight: 350;
  src: local('NotoSans-DemiLight'), local('NotoSans-DemiLight'), url(../fonts/NotoSans-DemiLight.eot);
  src: url(../fonts/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-DemiLight.woff2) format('woff2'),
  url(../fonts/NotoSans-DemiLight.woff) format('woff');
  }
  @font-face {
  font-family: 'Noto Sans KR';/*Regular*/
  font-style: normal;
  font-weight: 400;
  src: local('NotoSans-Regular'), local('NotoSans-Regular'), url(../fonts/NotoSans-Regular.eot);
  src: url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Regular.woff2) format('woff2'),
  url(../fonts/NotoSans-Regular.woff) format('woff');
  }
  @font-face {
  font-family: 'Noto Sans KR';/*Medium*/
  font-style: normal;
  font-weight: 500;
  src: local('NotoSans-Medium'), local('NotoSans-Medium'), url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Medium.woff2) format('woff2'),
  url(../fonts/NotoSans-Medium.woff) format('woff');
  }
  @font-face {
  font-family: 'Noto Sans KR';/*Bold*/
  font-style: normal;
  font-weight: 700;
  src: local('NotoSans-Bold'), local('NotoSans-Bold'), url(../fonts/NotoSans-Bold.eot);
  src: url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Bold.woff2) format('woff2'),
  url(../fonts/NotoSans-Bold.woff) format('woff');
  }

/*Pretendard*/
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/Pretendard-Thin.woff') format('woff'), url('../fonts/Pretendard-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/Pretendard-ExtraLight.woff') format('woff'), url('../fonts/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Pretendard-Light.woff') format('woff'), url('../fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Pretendard-Regular.woff') format('woff'), url('../fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Pretendard-Medium.woff') format('woff'), url('../fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Pretendard-SemiBold.woff') format('woff'), url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Pretendard-Bold.woff') format('woff'), url('../fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/Pretendard-ExtraBold.woff') format('woff'), url('../fonts/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Pretendard-Black.woff') format('woff'), url('../fonts/Pretendard-Black.woff2') format('woff2');
}