/* 마이페이지 - 장비담당 */
.my-page-sub {padding-top: 100px;}
.my-page-wrap {position: relative;}
.my-page-left-menu {width: 242px; position: absolute; top: 0; left: 0; border-right: 1px solid #ddd; height: calc(100vh - 100px); overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none;}
.my-page-left-menu:-webkit-scrollbar {display: none;}
.my-page-left-menu-wrap {}
.my-page-left-menu-top {display: flex; align-items: center; justify-content: space-between; background-color: #605579; height: 49px; font-weight: 600; font-size: 18px; color: #fff; padding: 0 19px;}
.my-page-left-menu-btn {border: none; background-color: transparent;}
.my-page-left-menu-btn span {display: inline-block; width: 18px; height: 2px; background-color: #fff; vertical-align: middle; position: relative;}
.my-page-left-menu-btn span::before {content: ''; width: 18px; height: 2px; background-color: #fff; position: absolute; top: -5px; left: 0;}
.my-page-left-menu-btn span::after {content: ''; width: 18px; height: 2px; background-color: #fff; position: absolute; top: 5px; left: 0;}

.my-page-member-info {text-align: center; padding: 38px 21px 25px 16px;}
.my-page-member-info-top {border-bottom: 1px solid #e1e1e1;}
.my-page-member-info-top .thumb-box {position: relative;}
.my-page-member-info-top .thumb-box .thumb {width: 118px; height: 118px; margin: 0 auto; border-radius: 50%; overflow: hidden;}
.my-page-member-info-top .thumb-box .thumb-change-btn {position: absolute; bottom: 0; right: 17px; background-color: transparent; border: none; width: 27px; height: 27px;}
.my-page-member-info-top .name {font-weight: 600; font-size: 25px; color: #555; margin: 22px 0 7px;}
.my-page-member-info-btm {padding-top: 10px;}
.my-page-member-info-btm p {font-weight: 300; font-size: 16px; color: #333;}

.my-page-menu-wrap {border-top: 1px solid #ddd;}
.my-page-menu-depth1-ul {}
.my-page-menu-depth1-ul > li {}
.my-page-menu-depth1 {width: 100%; border: none; background-color: transparent; font-weight: 400; font-size: 16px; color: #000; padding: 10.5px 19px; padding-left: 36px; border-bottom: 1px solid #ddd; position: relative; text-align: left; transition: .3s;}
.my-page-menu-depth1::before {content: '-'; position: absolute; top: 50%; left: 19px; transform: translateY(-50%); font-weight: 600; font-size: 16px; color: #544477;}
.my-page-menu-depth1:hover {background-color: #333; color: #fff;}
.my-page-menu-depth1:hover::before {color: #fff;}
.my-page-menu-depth1.active {background-color: #333; color: #fff;}
.my-page-menu-depth1.active::before {content: '+'; color: #fff;}

.my-page-menu-depth2-ul {display: none;}
.my-page-menu-depth2-ul.active {display: block;}
.my-page-menu-depth2-ul > li {}
.my-page-menu-depth2-ul > li a {display: block; position: relative; font-weight: 400; font-size: 15px; color: #333; padding: 8.25px 10px; padding-left: 52px; background-color: #f5f5f5; transition: .3s;}
.my-page-menu-depth2-ul > li a::before {content: '-'; position: absolute; top: 50%; left: 34px; transform: translateY(-50%); font-weight: 600; font-size: 16px; color: #333;}
.my-page-menu-depth2-ul > li a:hover {background-color: #dadada;}
.my-page-menu-depth2-ul > li.active a {background-color: #dadada;}

.my-page-content {height: calc(100vh - 100px); padding-left: 242px;}





/* 반응형 */
@media screen and (max-width:1600px) {

}
@media screen and (max-width:1440px) {

}
@media screen and (max-width:1290px) {

}
@media screen and (max-width:1023px) {

}
@media screen and (max-width:767px) {

}
@media screen and (max-width:480px) {

}