@media screen and (max-width:1600px) {
  /* sub */
  /* > 서브페이지 */
  .sub-aside {top: auto; transform: translate(0); right: 10px; bottom: 10px;}
  .sub-aside-ul {flex-direction: row;}


  .device-aca-info-ul {padding-top: min(4.5vw, 80px);}

  /* 통합검색결과 */
  .srch_result_wrap {gap: 2vw;}
  .srch_result_wrap > .right {width: calc(35% - 2vw);}

  /* > 전문가 검색 결과 */
  .srch-expert-sl {padding: min(5vw, 30px) min(3vw, 35px);}
  .srch-expert-sl-btm {gap: 1vw;}
  .srch-expert-sl-info-wr {width: calc(100% - 326px - 2vw);}
  .srch-expert-sl-img-wr {gap: 1vw;}

  /* > 장비 검색 결과 */
  .equip-info-wrap {padding: min(5vw, 30px) min(3vw, 35px);}
  .equip-info-box-wrap {padding-top: 1vw; margin: -0.5vw;}
  .equip-info-box-wrap > li {padding: 0.5vw;}
  .equip-info-item01 {align-items: flex-start; padding: 15px 20px; height: auto;}
  .equip-info-item01 .right.charge-wrap {display: flex; flex-direction: column; gap: 3px;}
  .equip-info-item01 .right.charge-wrap span {padding: 0;}
  .equip-info-box-wrap > li .inner {padding: 15px 20px;}
  .srch-equipment-thumb-btn-box {top: -40px; width: 100%; justify-content: flex-end; gap: 25px;}

}

@media screen and (max-width:1440px) {
  /* 이용신청 */
  /* > 분석지원 */
  /*  > 이용기기 보유현황(목록) */
  .device-list-ul {gap: 2vw;}
  .device-list-li {width: calc(100% / 3 - 4vw / 3); padding: 2vw;}
  .device-list-name {font-size: 18px;}
  .device-list-btns .btn {font-size: 14px;}
  .device-select-ul {flex-wrap: wrap; gap: 1.5vw;}
  .device-select-li {flex: none; width: calc(100% / 7 - 9vw / 7);}
  .device-list-hash {min-width: auto;}

  /*  > 이용기기 보유현황(상세정보) */
  .view-dt-left {width: 50%;}
  .view-dt-right {width: 50%;}

  /* > 연구장비 아카데미 */
  .device-aca-eduing-sl-btn-box {width: auto; top: -64px; left: inherit; right: 0; transform: none; gap: 25px;}
  .device-aca-eduing-sl-btn-box .prev {width: 18px; height: 27px;}
  .device-aca-eduing-sl-btn-box .next {width: 18px; height: 27px;}

  /*  > 우수회원 소개 */
  .mb_info-step-wr .app-step-ul {gap: 4vw;}
  .mb_info-step-wr .app-step-li .app-step-circle, .mb_info-step-wr .app-step-li {width: calc((100vw - 100px) / 4 -  12vw / 4); height: calc((100vw - 100px) / 4 -  12vw / 4);}
  .mb_info-step-wr .app-step-li:not(:last-child)::after {right: -2vw; width: 14px;}

}

@media screen and (max-width:1290px) {
  /* header */
  .head-logo {width: 120px;}
  .head-in {height: 80px;}
  .tnb-ul {padding: 0 15px;}

  /* footer */
  .ft-top-ul {padding: 10px 0;}
  .ft-top-li a {font-size: 15px;}

  /* sub */
  /* > 서브비주얼 */
  .sub-vis-wr, .sub-vs-txt-wr {flex-direction: column;}
  .sub-vs-txt-wr {gap: 10px;}
  .sub-vs-txt {text-align: center;}
  .sub-vs-txt br {display: none;}
  .sub-visual {padding-top: 80px;}

  /* > 서브페이지 */
  .sub-title {font-size: clamp(25px, 8vw, 40px);}

  /* 이용신청 */
  /* > 분석지원 */
  /*  > 이용기기 보유현황(목록) */
  .device-select-li {flex: none; width: calc(100% / 6 - 7.5vw / 6);}

  /*  > 이용기기 보유현황(신청) */
  .app-form-outer, .sub-lr-outer {flex-direction: column;}
  .app-form-in.left, .sub-left, .app-form-in.right, .sub-right {width: 100%;}
  .app-form-submit-wr {flex-direction: row;}
  .input-container {flex-wrap: wrap;}
  .app-step-txt3 {padding-top: 10px; font-size: 18px;}
  .app-step-circle {border-width: 10px;}

  /*  > 이용기기 보유현황(상세정보) */
  .view-dt-sl {padding-top: 20px;}
  .view-dt-right {padding-left: 20px;}
  .view-dt-info-box {padding: 20px;}
  .view-dt-info-price-box .title {font-size: 18px;}
  .view-dt-info-price-box .price-wrap {margin-top: 0;}
  .view-dt-info-price-box .price-wrap .orprice {font-size: 20px;}
  .view-dt-info-price-box .price-wrap .saleprice {font-size: 20px;}
  .view-dt-info-btns {padding-top: 24px;}

  .view-map-info-list {padding: 12px;}
  .view-map-info-item {flex-direction: column; line-height: normal; padding: 8px 0;}
  .view-map-info-item .text01 {width: 100%; font-size: 16px; padding-bottom: 4px;}
  .view-map-info-item .text02 {width: 100%; line-height: normal;}

  .view-desc-item .inner {padding: 30px;}
  .view-desc-item .inner .left {width: 200px;}
  .view-desc-item .inner .right {width: calc(100% - 200px);}

  .img-exp-pop .pop-box {padding: 60px 0;}

  /* > 연구장비 아카데미 */
  .device-aca-eduing-sl-item .inner {padding: 26px;}
  .device-aca-eduend-list > li .inner {padding: 26px;}
  .device-aca-eduend-list > li .inner .icon {top: 26px; right: 26px;}

  /*  > 우수회원 소개 */
  .mb_info-slider {border-width: 10px;}
  .mb_info-slide-in {padding: clamp(10px, 3vw, 30px) 80px;}
  .mb_info-sl-btn {width: 45px; height: 45px;}
  .mb_info-sl-btn.prev {left: 15px;}
  .mb_info-sl-btn.next {right: 15px;}
  .mb_info-slide-img {width: 15%;}
  .mb_info-slide-img img {max-width: 100%;}
  .mb_info-slide-cnt {width: 77%;}


  /* 활용안내 */
  /* > 공지사항 */
  .notice-ul > li .inner-box {padding: 30px;}
  .notice-ul > li .inner-top .title {margin: 18px 0 24px;}

  .notice-ul-btm {flex-direction: column-reverse; gap: 20px; padding-top: 40px;}
  .bl-search2 {width: 100%;}
  .bl-search2-wr{justify-content: flex-end; width: 100%;}

  /* > Q&A */
  .qna-right {flex-direction: row; flex-wrap: wrap; gap: 1vw;}
  .qna-ct-box {margin: 0; order: 1; width: calc(50% - 0.5vw);}
  .qna-btn-list {gap: 0.5vw; padding: 0; order: 2; width: calc(50% - 0.5vw);}
  .qna-right .related-list {order: 3; width: 100%;}
  .qna-btn {height: 80px;}
  .qna-ct-box__ul {max-width: 350px; margin: auto; padding-top: 15px;}

  /* 통합검색결과 */
  .srch_result_wrap {flex-direction: column;}
  .srch_result_wrap > .left, .srch_result_wrap > .right {width: 100%;}
  .related-list {flex-direction: row; gap: 1vw; flex-wrap: wrap;}
  .related-box {width: calc(50% - 0.5vw); padding: 15px 20px;}

  /* > 전문가 검색 결과 */
  
  /* > 장비 검색 결과 */
  .jqcloud {margin: auto; max-width: 100%;}

  /* Board-Write */
  .fm-ct.flex {display: flex; align-items: center;}
  .fm-ct.flex .fm-input {width: calc(100% / 3 - 40px / 3);}
  .fm-ct.flex .fm-sym {margin: 0; width: 20px; text-align: center;}
  .fm-ct.flex .fm-mail-select {margin-left: 5px; width: calc(100% / 3);}
}

@media screen and (max-width:1023px) {
  /* common */
  .container {padding-left: 30px; padding-right: 30px;}

  /* header */
  .header.white {background-color: #fff;}
  .tnb-wr {display: flex; align-items: center; gap: 20px;}
  .hd-ham {position: relative; display: block; width: 40px; height: 40px; border: 0; background: none;}
  .header.shadow .hd-ham > span, .header.shadow .hd-ham > span::after, .header.shadow .hd-ham > span::before {background-color: #333;}
  .hd-ham.open > span {background-color: transparent !important;}
  .hd-ham.open > span::after, .hd-ham.open > span::before {top: 50%; background-color: #333;}
  .hd-ham.open > span::after {transform: translate(-50%, -50%) rotate(45deg);}
  .hd-ham.open > span::before {transform: translate(-50%, -50%) rotate(-45deg);}
  .hd-ham > span {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 3px; background-color: #fff; border-radius: 5px; transition: .2s;}
  .hd-ham > span::after, .hd-ham > span::before {content: ''; position: absolute; left: 50%; width: 100%; height: 3px; background-color: #fff; border-radius: 5px; transition: .2s;}
  .hd-ham > span::after {top: -10px; transform: translate(-50%, -50%);}
  .hd-ham > span::before {top: 10px; transform: translate(-50%, 50%);}
  .gnb-ul {display: none; gap: 5vw; position: fixed; z-index: 1000; top: 80px; right: 0; padding: 7vh 20px; width: max(300px, 50%); height: calc(100% - 80px); overflow-y: auto; background-color: #fff;}
  .gnb-ul::before {content: ''; position: fixed; top: 80px; left: 0; width: min(calc(100% - 300px), 50%); height: 100%; background-color: rgba(0, 0, 0, .5); z-index: 0;}
  .gnb-li {padding: 20px 0; flex-direction: column; height: auto;}
  .gnb2-ul {position: static; transform: translate(0); padding: 10px 0;}
  .gnb-li {cursor: pointer;}
  .gnb-li > a {color: #333; pointer-events: none; cursor: pointer; font-size: 26px;}
  .gnb-li.open > a {color: var(--main-color) !important;}
  .gnb2-li > a {font-size: 18px;}

  /* sub */
  /* > 서브페이지 */
  .sub-aside-ul {gap: 5px;}
  .sub-aside-li > a {width: 60px; height: 60px; border-radius: 5px; gap: 0;}
  .sub-aside-li > a img {transform: scale(0.7);}

  /* 이용신청 */
  /* > 분석지원 */
  /*  > 이용기기 보유현황(목록) */
  .device-select-li {flex: none; width: calc(100% / 5 - 6vw / 5);}
  .device-list-li {width: calc(100% / 2 - 2vw / 2);}
  .device-list-thumb {height: clamp(200px, 50vw, 330px);}
  .device-list-btns {gap: 2vw;}
  .device-list-btn-wish {width: 40%;}
  .device-list-btn-link {width: 60%;}

  /*  > 이용기기 보유현황(상세정보) */
  .view-dt-box {flex-direction: column;}
  .view-dt-left {width: 100%;}
  .view-dt-right {width: 100%; padding-left: 0; padding-top: 20px;}

  /* > 연구장비 아카데미 */
  .device-aca-info-ul {margin: -20px 0;}
  .device-aca-info-ul > li {padding: 20px 0;}

  .device-aca-eduing-wrap {padding-top: 70px;}
  .device-aca-eduend-list > li {width: 50%;}

  /*  > 우수회원 소개 */
  .mb_info-step-wr .app-step-li .app-step-circle, .mb_info-step-wr .app-step-li {width: calc((100vw - 60px) / 4 -  12vw / 4); height: calc((100vw - 60px) / 4 -  12vw /4);}
  .mb_info-step-wr .app-step-txt2 {font-size: clamp(16px, 4vw, 26px);}
  .mb_info-quick.left {width: 100%; text-align: center; border: 0;}
  .mb_info-quick.left img {width: 60px;}
  .mb_info-quick.right {width: 100%; text-align: center;}
  .mb_info-quick {padding-top: 5px; padding-bottom: 5px;}
  .mb_info-quick-in {flex-direction: column;}
  .sub-info-wr {gap: 5%;}
  .sub-info-txt-wr {width: min(65%, 700px);}

  /* 활용안내 */
  /* > 공지사항 */
  .notice-ul-wrap {padding-top: 40px;}
  .notice-ul {margin: -8px;}
  .notice-ul > li {padding: 8px; width: 50%;}
  .notice-ul > li .inner-box {padding: 20px;}

  /* 통합검색결과 */
  /* > 전문가 검색 결과 */
  .srch-expert-sl-ctr {right: 3vw;}
  .srch-expert-sl-btm {padding-top: 15px; margin-top: 15px;}
  .srch-expert-sl-info__l {width: 80px;}

  /* > 장비 검색 결과 */
  .srch-expert-item .inner-top {flex-direction: column; align-items: flex-start;}
  .srch-expert-item .inner-top .expert-thumb {overflow: hidden; padding-bottom: 132px;}
  .srch-expert-item .inner-top .expert-info {padding-left: 0; padding-top: 10px; width: 100%;}
  .srch-expert-list {margin: -7.5px;}
  .srch-expert-item {padding: 7.5px;}

  /* Board-List */
  .bl-body {padding-bottom: 10px;}
  .bl-btm {flex-direction: column-reverse;}
  .bl-search {display: flex; justify-content: flex-end; width: 100%; max-width: 100%;}

  /* Board-Write */
  .fm_inner {padding: 25px 20px;}
  .fm-lb {width: 110px;}
  .fm-ct {width: calc(100% - 110px);}

  /* Board-View */
  .bv-subject {padding: 15px 10px; font-size: 18px;}
  .bv-info {padding: 15px 10px;}
  .bv-file, .bv-link {padding: 10px;}
  .bv-content {padding: 20px 10px;}
}

@media screen and (max-width:767px) {
  /* common */
  .container {padding-left: 15px; padding-right: 15px;}
  .fm-check + label, .fm-radio + label, .fm-input, .fm-select, .filebox .upload-name, .filebox .filebtn, .filelist > li, .fm-textar {font-size: 14px;}
  .file-del-btn {font-size: 12px; width: 50px;}
  .btn {font-size: 14px;}

  /* footer */
  .ft-top-ul {gap: 30px;}
  .ft-top-li a {font-size: 14px;}
  .ft-top-li:not(:last-child):after {right: -14.5px;}
  .ft-info-li {font-size: 14px;}
  .ft-copyright {font-size: 12px;}

  /* sub */
  /* > 서브비주얼 */
  .sub-vs-quick-wr {gap: 10px;}
  .sub-vs-quick-btn {width: 60px; height: 100%;}
  .sub-vs-quick-btn-wr > p {height: auto;}
  .sub-vs-quick-btn::after {width: 20px;}
  .sub-vs-quick-btn::before {height: 20px;}
  .sub-vs-quick-li > a {font-size: 13px;}

  /* > 서브로케이션 */
  .sub-location {border: 0;}
  .sub-loca-wr {position: relative; gap: 0;}
  .sub-loca-ul {display: none; position: absolute; top: 100%; flex-direction: column; padding: 10px 20px; width: 100%; background-color: #fff; z-index: 100; border-bottom: 1px solid #333;}
  .sub-loca-li {border: 0 !important; padding: 10px 0;}
  .sub-loca-li.active {display: none;}
  .sub-loca-btn {display: block; width: 100%; border: 0; background: #333; color: #fff;}
  .sub-loca-wr.arrow .sub-loca-btn {background: #333 url('../img/icon-arrow_subloca.png') no-repeat center right 13px / 12px;}
  .sub-loca-home {display: none;}

  /* > 서브페이지 */
  .sub-tab-ul {gap: 0;}
  .sub-tab-li > a {font-size: 14px; padding: 0 10px; text-align: center;}
  .sub-title-info {font-size: 15px;}

  /* 이용신청 */
  /* > 분석지원 */
  /*  > 이용기기 보유현황(목록) */
  .device-select-li {flex: none; width: calc(100% / 3 - 3vw / 3);}
  .region-select-ul {gap: 1.5vw;}
  .region-select-li {width: calc(100% / 3 - 3vw / 3);}
  .search-wr {gap: 5px;}
  .search-wr .fm-input {height: 40px;}
  .search-wr .btn {height: 40px;}
  .bl-select-wr {flex-direction: column-reverse; align-items: flex-start; gap: 10px;}
  .device-list-ul {gap: 30px;}
  .device-list-li {padding: 20px 10px; width: 100%;}
  .device-list-thumb {height: clamp(200px, 100vw, 450px);}

  /*  > 이용기기 보유현황(신청) */
  .sub-vs-quick-ul {width: 100%;}
  .app-form-table th {padding: 10px; font-size: 14px;}
  .app-form-table td {padding: 10px;}
  .em-app-info-box {flex-direction: column; align-items: flex-start;}
  .em-app-info.left, .em-app-info.right {width: 100%;}
  .em-app-info, .noti-check-box {margin: 0;}
  .em-app-info.right {margin: 10px 0 0; padding: 10px 0 0; border: 0; border-top: 1px solid #ddd;}
  .noti-check-txt {padding-top: 5px;}
  .app-form-btns > .btn {font-size: 14px;}
  .app-form-btns > .btn > b {font-size: 16px;}
  .date_today {font-size: 14px;}
  .app-side-table th {padding: 10px; width: auto; text-align: center; font-size: 14px;}
  .app-side-table td {padding: 10px; font-size: 14px;}
  .device-info-txt1 {font-size: 20px;}
  .app-step-txt3, .app-step-txt1 {font-size: 14px; text-align: center;}
  .app-step-txt3 {padding-top: 1vw;}
  .app-step-ul {gap: 5vw;}
  .app-step-li:not(:last-child)::after {right: -2.5vw; width: 17px; height: 35px;}
  .app-step-circle {padding: 10px; width: clamp(90px, 28vw, 280px); height: clamp(90px, 28vw, 280px); border-width: 5px;}

  .pop-in {border: 0; padding: 0;}
  .pop-list-mid {overflow-x: auto; padding: 20px 0 0;}
  .pop-list-table {width: 670px;}
  .pop-list-page-wr {margin-top: 20px;}
  .pop-list-top .btn {padding: 0 15px; min-width: auto;}
  .bl-post {flex-shrink: 0;}
  .pop-list-table th {font-size: 14px;}
  .pop-top {padding-bottom: 3vw;}
  .pop-sch-wr .btn {width: 100px; padding: 0;}

  /*  > 이용기기 보유현황(상세정보) */
  .view-dt-sl {padding-top: 10px;}
  .view-dt-thumb-sl .img-exp-btn {bottom: 10px; right: 10px;}

  .view-dt-info-box {padding: 14px;}
  .view-dt-info-item .inner {padding: 0 15px; height: 38px;}
  .view-dt-info-item .inner .text01 {font-size: 14px;}
  .view-dt-info-item .inner .text02 {font-size: 14px;}
  .view-dt-info-btns {padding-top: 14px; gap: 0 8px;}

  .view-map-box {flex-direction: column;}
  .view-map-box > * {width: 100%;}
  .view-map-info {padding: 20px;}
  .view-map-info-list {padding: 0;}

  .view-desc-item .inner {flex-direction: column; padding: 20px;}
  .view-desc-item .inner .left .icon {display: none;}
  .view-desc-item .inner .left {width: 100%; padding: 0;}
  .view-desc-item .inner .right {width: 100%;}
  .view-desc-text-item {padding-left: 14px; padding-bottom: 8px; font-size: 14px;}
  .view-desc-wrap.i-col-2 > * {width: 100%;}

  .table-wrap {overflow-x: auto;}
  .table-wrap table {width: 670px;}
  .table-wrap .table-caption {width: 670px;}
  .table-wrap table thead tr th {font-size: 14px; height: auto; padding: 8px;}
  .table-wrap table tbody tr td {padding: 8px;}

  .view-dt-info-btns .btn {font-size: 14px;}
  .view-dt-info-price-box {padding-top: 14px;}
  .view-dt-info-price-box .title {font-size: 16px;}
  .view-dt-info-price-box .price-wrap .sale-percent {font-size: 14px; padding: 2px 9px;}

  .view-map-info-item .text01 {font-size: 14px;}
  .view-map-info-item .text02 {font-size: 14px;}
  .view-map-info-item .text02 a {font-size: 14px;}

  /* > 연구장비 아카데미 */
  .device-aca-eduing-wrap .fm-tit {margin-bottom: 10px;}
  .device-aca-eduing-sl-btn-box {top: -37px; gap: 15px;}
  .device-aca-eduing-sl-btn-box .prev {width: 13px; height: 20px;}
  .device-aca-eduing-sl-btn-box .next {width: 13px; height: 20px;}

  .device-aca-eduing-sl-item .inner {padding: 18px;}
  .device-aca-eduing-sl-item .inner .cate {font-size: 14px; padding-bottom: 14px;}
  .device-aca-eduing-sl-item .inner .title {font-size: 16px;}
  .device-aca-eduing-sl-item .inner .date {font-size: 13px; margin-top: 10px; margin-bottom: 14px;}
  .device-aca-eduing-sl-item .inner .btn {font-size: 14px;}

  .device-aca-eduend-wrap {padding-top: 50px; margin-top: 60px;}
  .device-aca-eduend-title {margin-bottom: 10px;}
  .device-aca-eduend-wrap .fm-tit {margin-bottom: 0;}

  .device-aca-eduend-list {margin: -5px;}
  .device-aca-eduend-list > li {padding: 5px;}
  .device-aca-eduend-list > li .inner {padding: 18px;}
  .device-aca-eduend-list > li .inner .cate {font-size: 14px; padding-bottom: 14px;}
  .device-aca-eduend-list > li .inner .title {font-size: 16px;}
  .device-aca-eduend-list > li .inner .date {font-size: 13px; margin-top: 10px; margin-bottom: 14px;}
  .device-aca-eduend-list > li .inner .btn {font-size: 14px;}
  .device-aca-eduend-list > li .inner .icon {top: 18px; right: 18px; font-size: 14px; width: 64px;}
  .device-aca-eduend-list > li .inner .icon span:first-child {display: inline-block; margin-bottom: -2px;}
  .device-aca-eduend-list > li .inner .icon span:last-child {margin-left: 4px;}
  .device-aca-eduend-paging {padding-top: clamp(15px, 6vw, 44px);}

  /*  > 우수회원 소개 */
  .mb_info_link-in {height: 25vw;}
  .mb_info-link-txt2 {padding-top: 5px;}
  .sub-info-wr, .sub-info-wr.reverse {flex-direction: column-reverse; align-items: center !important;}
  .sub-info-txt-wr {width: 100%; text-align: center;}  
  .sub-info-img-wr {width: 50% !important;} 
  .mb_info-step-wr .app-step-li .app-step-circle, .mb_info-step-wr .app-step-li {width: calc((100vw - 30px) / 4 -  12vw / 4); height: calc((100vw - 30px) / 4 -  12vw /4);}
  .mb_info-step-wr .app-step-txt3 {padding-top: 0;}
  .mb_info-slider {border-width: 5px;}
  .mb_info-slide-in {padding-left: 60px; padding-right: 60px;}
  .mb_info-sl-btn {width: 35px; height: 35px;}
  .mb_info-sl-btn.prev {left: 10px;}
  .mb_info-sl-btn.next {right: 10px;}

  /* 활용안내 */
  /* > 공지사항 */
  .notice-ul {margin: -5px;}
  .notice-ul > li {padding: 5px;}
  .notice-ul > li .inner-box {padding: 20px 12px;}
  .notice-ul > li .inner-top .notice-num {font-size: 14px; padding: 0 16px; height: 20px;}
  .notice-ul > li .inner-top .title {font-size: 16px; margin: 10px 0 18px;}
  .notice-ul > li .inner-bot {padding-top: 8px;}
  .notice-ul > li .bot-item span {font-size: 13px;}

  .notice-ul-btm {padding-top: 20px;}
  .bl-search2-wr .fm-select {width: 120px;}
  .bl-search2-bar {width: calc(100% - 120px);}
  .bl-search2-wr .fm-input {margin-left: 4px; width: calc(100% - 102px);}
  .bl-search2-wr .btn {font-size: 14px; width: 90px;}

  /* > Q&A */
  .qna-btn-icon {display: flex; align-items: center; top: 2px; width: 30px;}
  .qna-btn-icon::after {display: none; }
  .qna-btn-link {justify-content: flex-start; gap: 20px; padding: min(5vw, 20px);}
  .qna-btn {height: auto; flex: 1;}
  .qna-ct-box, .qna-btn-list {width: auto; flex: auto;}

  .qna .bl-no, .qna .bl-date  {display: none;}

  .qna-cate-wr {flex-direction: column;}
  .qna-cate-li > a {padding: 10px 5px;}
  .qna-cate-box--2 .qna-cate-li {width: calc(100% / 4);}
  .qna-cate-box--2 .qna-cate-li:nth-child(2) {border-right: 1px solid #ddd;}
  .qna-cate-title {padding: 10px; padding-right: 75px;}

  /* 통합검색결과 */
  .related-box {width: 100%;}
  .fm-tit {font-size: 18px;}

  /* > 전문가 검색 결과 */
  .srch-expert-sl-top {gap: 3vw;}
  .srch-expert-sl-name-wr {font-size: 14px;}
  .srch-expert-sl-name-wr .name {font-size: 20px;}
  .srch-expert-sl-name-wr .role {font-size: 16px;}
  .srch-expert-sl-ctr {gap: 5px; right: 10px;}
  .srch-expert-sl-btn {background-size: 18px;}
  .srch-expert-sl-btm {flex-direction: column;}
  .srch-expert-sl-info-wr {width: 100%;}
  .srch-expert-sl-img {width: 100%; height: 30vw;}
  .srch-expert-sl-links {gap: 1vw;}
  .srch-expert-sl-links .btn {min-width: auto; width: auto; padding: 0 15px;}

  /* > 장비 검색 결과 */
  .equip-info-box-wrap > li .inner .title {padding-bottom: 10px; font-size: 16px;}
  .equip-info-txt-box .title {font-size: 20px;}
  .equip-info-item01 .left {width: 120px;} 
  .equip-info-item01 .right {width: calc(100% - 120px);}
  .equip-info-btn-box {gap: 1vw; flex-wrap: wrap; padding-top: 15px;}
  .equip-info-btn-box > .btn, .equip-info-btn-box .btn.w167 {width: calc(50% - 0.5vw);}
  .equip-info-btn-box > .btn.active {width: 100%;}
  .srch-thesis-item {padding: 17px 25px 8px;}
  .srch-thesis-box {flex-direction: column; gap: 5px;}
  .srch-thesis-box .thesis-name > span {font-size: 16px;}
  .srch-thesis-box .thesis-text {font-size: 14px;}
  .srch-thesis-title {font-size: 18px; padding-bottom: 5px;}
  .thesis-btn-wr .btn {font-size: 12px;}

  /* Board-Write */
  .fm-row {flex-direction: column; gap: 5px;}
  .fm-lb, .fm-ct {width: 100%;}

  /* Board-List */
  .bl-table th {font-size: 16px;}
  .bl-hits {display: none;}
  .bl-date {width: 120px;}
  .bl-page > a {padding: 0 2vw;}

}

@media screen and (max-width:480px) {
  /* common */
  .container {padding-left: 7.5px; padding-right: 7.5px;}

  /* header */
  .head-in {height: 60px;}
  .head-logo {width: 100px;}
  .hd-ham {width: 25px;}
  .tnb-wr {gap: 15px;}
  .tnb-li img {transform: scale(0.8);}
  .tnb-ul {gap: 0 7.5px; padding: 0 7.5px;}
  .gnb-li {padding: 2.5vh 0;}
  .gnb2-li {padding: 5px 0;}
  
  /* footer */
  .ft-top-ul {gap: 10px;}
  .ft-top-li a {font-size: 13px;}
  .ft-top-li:not(:last-child):after {right: -5px; height: 8px;}
  .btn.foot-btn {font-size: 12px; padding: 0 15px;}
  .ft-info-ul {flex-direction: column; gap: 5px;}
  .ft-info-li {flex-direction: column; align-items: flex-start; gap: 0;}
  .gnb-ul, .gnb-ul::before {top: 60px;}
  .gnb-ul {height: calc(100% - 60px);}

  /* sub */
  /* > 서브비주얼 */
  .sub-vs-quick-li {width: calc(100% / 2 - 10px / 2);}
  .sub-vs-quick-li > a {gap: 1vw; padding: 0 3vw;}
  .sub-vs-quick-li img {transform: scale(0.8);}
  .sub-vs-txt {font-size: 14px;}
  .sub-visual {padding-top: 60px;}
  .sub-vis-wr {padding: 35px 0 20px;}

  /* > 서브페이지 */
  .sub-aside-li > a img {display: none;}
  .sub-aside-li > a > span {margin: 0;}
  .sub-aside-li > a {height: 25px;}
  .sub-title-info {font-size: 14px;}

  /* 이용신청 */
  /* > 분석지원 */
  /*  > 이용기기 보유현황(목록) */
  .device-select-li {height: auto;}
  .device-select-btn {padding: 5px; gap: 0;}
  .device-sel-icon {height: 65%;}
  .device-sel-txt {height: 35%; font-size: 14px;}
  .device-sel-icon img {transform: scale(0.8);}
  .region-select-btn {font-size: 14px;}
  .bl-select-txt {font-size: 14px;}
  .device-list-name {font-size: 16px;}
  .device-list-info {margin-top: 10px; font-size: 14px;}
  .device-list-btns {padding-top: 10px;}
  .device-list-hash-wr {gap: 5px; padding: 15px 0;}
  .device-list-hash {font-size: 12px; padding: 5px 10px;} 

  /*  > 이용기기 보유현황(신청) */
  .app-form-title {flex-direction: column; align-items: flex-start; gap: 10px;}
  .app-form-table th, .app-form-table td {display: block; width: 100%;}
  .app-form-table th {border: 0; padding-bottom: 0;}
  .app-form-table td {padding-top: 5px;}
  .app-form-table .empty {display: none;}
  .app-form-key br {display: none;}
  .app-form-caution {padding: 15px 20px; font-size: 14px;}
  .app-form-in.left .app-form-box:not(:last-child) {padding-bottom: 30px; margin-bottom: 30px;}
  .app-form-submit-wr {flex-direction: column;}
  .app-step-li:not(:last-child)::after {width: 4vw;}
  .app-step-txt1 {font-size: 10px;}
  .app-step-txt3 {font-size: 12px;}
  .device-info-txt1 {font-size: 16px;}
  .app-form-outer {padding-bottom: 30px; margin-bottom: 30px;}

  .pop-box {padding: 30px 7.5px;}

  /*  > 이용기기 보유현황(상세정보) */
  .view-dt-thumb-sl .img-exp-btn {width: 38px; height: 38px;}
  .view-dt-thumb-sl .img-exp-btn img {display: inline-block; width: 26px;}
  
  .view-dt-info-price-box .price-wrap {}
  .view-dt-info-price-box .price-wrap .orprice {font-size: 16px; margin-right: 14px;}
  .view-dt-info-price-box .price-wrap .orprice::after {width: 8px; height: 14px; right: -18px; background-size: 100%;}
  .view-dt-info-price-box .price-wrap .saleprice {font-size: 16px; padding-left: 6px;}
  .view-dt-info-price-box .price-wrap .sale-percent {margin-left: 8px; font-size: 12px; padding: 2px 6px;}

  /* > 연구장비 아카데미 */
  .device-aca-eduend-list > li {width: 100%;}

  /*  > 우수회원 소개 */
  .mb_info-app-wr {flex-direction: column;}
  .mb_info_link-in {height: auto; gap: 20px;}
  .mb_info-step-wr .app-step-txt3 {display: none;}
  .mb_info-step-wr .app-step-li:not(:last-child)::after {width: 2vw;}
  .mb_info-step-wr .app-step-li .app-step-circle, .mb_info-step-wr .app-step-li {width: calc((100vw - 15px) / 4 -  12vw / 4); height: calc((100vw - 15px) / 4 -  12vw / 4);}
  .mb_info-slide-in {flex-direction: column; align-items: center; padding: 20px 10px;}
  .mb_info-slide-cnt {width: 100%; padding-left: 0; margin-left: 0; border: 0;}
  .mb_info-slide-img {width: 30%; text-align: center;}
  .mb_info-slide-img img {max-height: 60px;}
  .mb_info-slide-cnt {text-align: center;}
  .mb_info-slide-txt {padding-top: 6px;}
  .mb_info-sl-btn.prev {left: 10px; top: 10px; transform: translate(0);}
  .mb_info-sl-btn.next {right: 10px; top: 10px; transform: translate(0);}

  .device-aca-info-ul {padding-top: 0;}

  /* 활용안내 */
  /* > 공지사항 */
  .notice-ul > li {width: 100%;}

  .bl-search2-wr {flex-direction: column; gap: 4px;}
  .bl-search2-wr .fm-select {width: 100%;}
  .bl-search2-wr .fm-input {margin-left: 0; width: calc(100% - 98px);}
  .bl-search2-bar {width: 100%;}

  /* > Q&A */
  .bl-status-icon {width: 50px; height: 20px; font-size: 12px;}
  .pop-sch-wr {width: 100%;}
  .qna-cate-li > a {font-size: 14px;}
  .qna-ct-box__li {font-size: 13px;}
  .qna-ct-box {padding: 15px;}

  /* 통합검색결과 */
  .inter-srch-input-bar, .inter-srch-input-bar > .fm-search-wr, .inter-srch-input-bar > .fm-search-wr .fm-input, .inter-srch-input-bar > p {height: 40px; font-size: 14px;}
  .inter-srch-input-bar > .fm-search-wr .fm-input {padding: 0 15px;}
  .related-content__tit, .equip-info-box-wrap > li .inner .title {font-size: 14px;}
  .related-content__txt {font-size: 13px;}
  .related-content > li {padding: 10px 12px;}
  .related-content > li::after {top: 17px; width: 3px; height: 3px;}
  .equip-info-item01 .right.charge-wrap, .equip-info-item01 .right {width: 100%;}
  .equip-info-box-wrap > li .inner {padding: 8px 12px;}
  .equip-info-box-wrap > li .inner .text {padding-left: 10px;}
  .equip-info-box-wrap > li .inner .text::before {width: 3px; height: 3px;}
  .related-box {padding: 8px 15px;}

  /* > 전문가 검색 결과 */
  .srch-expert-sl-wrap, .srch-ex-device-box {padding-top: 0;}
  .srch-expert-sl-top {flex-direction: column; gap: 2vw;}
  .srch-expert-sl-thumb {width: 110px; height: 110px;}
  .srch-expert-sl-basic {gap: 2vw;}
  .srch-expert-sl-info {flex-direction: column; gap: 3px; padding: 8px 12px; font-size: 14px;}
  .srch-expert-sl-img-wr, .srch-expert-sl-btm {gap: 6px;}
  .srch-expert-sl-links .btn {font-size: 14px;}
  .srch-ex-device-box, .related-list {gap: 10px;}
  .srch-expert-sl-ctr {top: 15px;}

  /* 장비 검색 결과 */
  .equip-info-item01 {flex-direction: column; gap: 5px; padding: 8px 12px;}
  .equip-info-txt-box .title {font-size: 18px;}
  .equip-info-box-wrap > li {width: 100%;}
  .equip-info-item01 .left, .equip-info-item01 .right, .equip-info-item01 .right.keyword-wrap .keyword, .equip-info-box-wrap > li .inner .text {font-size: 14px;}
  .srch-expert-list {margin: -0.5vw;}
  .srch-expert-item {padding: 0.5vw; width: 100%;}
  .srch-expert-item .inner-top .expert-thumb {width: 110px; padding-bottom: 110px;}
  .srch-expert-item .inner-top .name .ex-sort, .srch-expert-item .inner-top .etc, .srch-expert-item .inner-top .keyword {font-size: 14px;}
  .srch-expert-item .inner-top .keyword {padding-top: 2px;}
  .srch-thesis-item {padding: 15px 15px 8px;}
  .srch-thesis-box {padding: 10PX 12px;}
  .srch-thesis-box::before {top: 17px; width: 3px; height: 3px;}
  .srch-thesis-box .thesis-name > span {font-size: 14px;}
  .srch-thesis-box .thesis-text {font-size: 13px;}

  /* Board-Write */
  .fm_inner {padding: 20px 15px;}
  .fm-t1 {font-size: 16px;}
  .fm-input {padding: 0 10px; width: 100%; font-size: 14px;}
  .fm-ct.flex .fm-mail-select {padding: 0 10px; padding-right: 30px; font-size: 14px;}
  .fm-select-1 {background-size: 9px; background-position: center right 10px;}
  .fm-ct.flex {flex-wrap: wrap; gap: 5px 0;}
  .fm-row--email .fm-ct.flex .fm-input {width: calc(100% / 2 - 10px);}
  .fm-ct.flex .fm-mail-select {margin-left: 0; width: 100%;}
  .filebox .filebtn, .filebox .upload-name {font-size: 14px;}
  .fm-ct.flex .fm-sym {font-size: 14px;}
  .fm-textar {padding: 10px; font-size: 14px;}

  /* Board-List */
  .fm-select {padding: 0 10px; font-size: 14px;}
  .fm-select-2 {background-size: 7px; background-position: center right 10px;}
  .bl-top-select {max-width: 50%;}
  .bl-body {padding: 10px 0;}
  .bl-no {display: none;}
  .bl-table th {padding: 7.5px 5px; font-size: 14px;}
  .bl-table td {padding: 10px 5px; font-size: 14px;}
  .fm-search-submit {width: 40px;}
  .fm-search-wr .fm-input {padding-right: 35px;}
  .bl-btm {flex-direction: column-reverse;}
  .bl-search {max-width: 100%;}
  .bl-page > a {padding: 0 min(3.8vw, 15px);}

  /* Board-View */
  .bv-subject {padding: 10px; font-size: 16px;}
  .bv-info {padding: 10px;}
  .bv-file-field, .bv-link-field {width: 75px; font-size: 12px;}
  .bv-info, .bv-file-link, .bv-link-url {font-size: 14px;}
}